@{
    ViewBag.Title = "Spiel";
}

<link rel="stylesheet" href="~/Content/Home/index.css" type="text/css" />

<div id="home-area">
    <div id="home-wrapper">
        <section id="user-information-area">user information</section>
        <section id="shop-area">shop</section>
        <section id="game-animation-area">animation</section>
        <section id="game-start-area">start</section>
        <section id="register-area">registrierung</section>
        <section id="login-area">login</section>
        <section id="leaderboard-area">leaderboard</section>
    </div>
</div>