#home-area {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

#home-wrapper {
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: "a b c" "a b d" "a b e" "f b e" "f g e";
    grid-gap: 30px;
}

    #home-wrapper #user-information-area {
        grid-area: f;
        height: 260px;
    }

    #home-wrapper #shop-area {
        grid-area: a;
        height: 410px;
    }

    #home-wrapper #game-animation-area {
        grid-area: b;
        height: 550px;
        position:relative;
    }

    #home-wrapper #game-start-area {
        grid-area: g;
        height: 130px;
        display: flex;
        align-items: center;
    }

    #home-wrapper #register-area {
        grid-area: c;
        height: 130px;
    }

    #home-wrapper #login-area {
        grid-area: d;
        height: 130px;
    }

    #home-wrapper #leaderboard-area {
        grid-area: e;
        height: 390px;
    }

#made-by-area {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 7px 5px 5px 10px;
    border-radius: 10px 0 0 0;
    border-bottom: 0;
    border-right: 0;
    color: var(--dark-color);
}

#settings-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    margin: 20px;
    background-image: url(Images/settings-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(0deg);
    transition: 250ms linear;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px #000);
}

    #settings-button:hover {
        transform: rotate(180deg);
        transition: 250ms linear;
    }

#home-wrapper section#game-animation-area canvas#animation-canvas {
    z-index:-1;
}

#home-wrapper section {
    width: 400px;
    color: #fff;
    border: 4px solid #000;
    position: relative;
    background: rgba(0,0,0,.6);
    border-radius: 0px;
}

#home-wrapper section div.text-box p,
#home-wrapper section div.text-box b {
    color: var(--light-color);
    text-align: center;
    margin-bottom: 0px;
}

#home-wrapper section div.text-box b {
    font-size: 20px;
}

#home-wrapper section h4 {
    color: var(--light-color);
    font-weight:bold;
    text-align:center;
    width:100%;
    font-size:28px;
    margin-top:5px;
}

#home-wrapper section div.info-box {
    padding: 7px 50px;
}

#leaderboard-table_length,
#leaderboard-table_filter,
#leaderboard-table_info,
#leaderboard-table_paginate {
    display: none;
}

.leaderboard-box {
    padding: 10px 30px;
}

#leaderboard-table thead tr th {
    background-image: none;
    pointer-events: none;
    width: 50% !important;
}

#leaderboard-table tbody tr td {
    padding: 5px 10px;
}

#register-button.custom-button:before {
    content: "Registrieren";
}

#login-button.custom-button:before {
    content:"Einloggen";
}

#leaderboard-button.custom-button:before {
    content:"Rangliste";
}

#start-game-button.custom-button:before {
    content:"Starten";
}

#start-game-button,
#start-game-button:before{
    height:80px;
    width: 300px;
    line-height:80px;
    font-size:34px;
}

#start-game-button {
    line-height: 56px;
}

#game-start-area div.button-box {
    bottom:auto!important;
}

#start-game-button::before {
    top: -3px;
    left:-102%;
}

#start-game-button:hover:before {
    left:0;
}

#start-game-button::after {
    top: -43px;
    height: 110px;
    width: 75px;
    right: 84%;
}

#start-game-button:hover:hover::after {
    right:-20%;
}

#user-information-button::before {
    content:"Informationen";
}

#shop-button::before {
    content:"Einkaufen";
}



@media (max-width: 1300px) {
    #home-area {
        padding: 100px 0;
    }

    #home-wrapper {
        grid-template-areas: "b c" "b d" "b a" "b a" "g a" "f e" "f e" "h e";
    }

        #home-wrapper #game-animation-area {
            height: 580px;
        }

        #home-wrapper #user-information-area {
            height: 390px;
        }
}

@media (max-width: 900px) {
    #home-wrapper {
        grid-template-areas: "c" "d" "b" "b" "b" "b" "g" "a" "a" "a" "f" "f" "e" "e" "e" "h";
    }
}
