:root {
    --background: #222;
    --light-color: #fff;
    --dark-color: #222;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Agency FB';
    letter-spacing: 0.5px;
    color: var(--light-color);
}

::selection {
    background-color: var(--light-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #444;
    }

div.tooltip.fade > div {
    color: #fff;
    font-weight:bold;
    letter-spacing: 0.5px;
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

    body > canvas#background-canvas {
        background: var(--background);
        position: absolute;
        z-index: -1;
    }

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.custom-button {
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border: 3px solid var(--light-color);
    padding: 10px 40px;
    font-size: 20px;
    color: var(--light-color);
    font-weight: bold;
    line-height: 25px;
    position: relative;
    background-color: var(--dark-color);
    transition: 5s ease-in-out;
    text-align: center;
    overflow:hidden;
}

    .custom-button::before {
        content: "Weiterleiten";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: -100%;
        background: var(--light-color);
        transition: 500ms ease-in-out;
        color: var(--dark-color);
        transition: 500ms ease-in-out;
        line-height: 46px;
        text-align: center;
    }

    .custom-button::after {
        content: "";
        position: absolute;
        top: -28px;
        height: 64px;
        width: 50px;
        right: 85%;
        background: var(--light-color);
        transition: 500ms ease-in-out;
        transform: rotate(45deg);
    }

    .custom-button:hover::before {
        left: 0;
        transition: 500ms ease-in-out;
    }

    .custom-button:hover::after {
        right: -15%;
        transition: 500ms ease-in-out;
    }

    .custom-button:hover {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--light-color);
    }

#fixed-start-game-button {
    height: 50px;
    width: 200px;
    position: fixed;
    bottom: 50px;
    left: 20px;
}

#fixed-start-game-button::before {
    content: "Starten";
}

.custom-box {
    width: 400px;
    color: #fff;
    border: 4px solid #000;
    position: relative;
    background: rgba(0,0,0,.6);
}

table {
    table-layout: fixed;
}

table thead tr th {
    background-image: none;
    color: var(--light-color);
    text-align: center;
    background-color: #252525;
    border: none;
    border-bottom: 1px solid #111 !important;
    border-right: 1px solid #111;
    background-blend-mode: soft-light;
}

table thead tr th.sorting_asc,
table thead tr th.sorting_desc {
    background-blend-mode: normal;
}

table thead tr th:last-child {
    border-right:none;
}

table tbody tr {
    background-color: #181818 !important;
}

    table tbody tr td {
        text-align: center;
        color: var(--light-color);
        padding: 5px 10px;
        overflow:hidden;
    }

.tooltip-inner {
    max-width: 400px;
}

input[type="search"]::-webkit-search-cancel-button {
    position: relative;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    top: 1px;
    right: -5px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/OOjs_UI_icon_close.svg/600px-OOjs_UI_icon_close.svg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
    cursor: pointer;
}